﻿@model WalletViewModel
@using BeCoreApp.Utilities.Constants
@{
    ViewBag.Title = "Staking";

}
@section Scripts{
    <script src="~/admin-app/controllers/staking/index.js" asp-append-version="true"></script>
    <script>
        var stakingController = new StakingController();
        stakingController.initialize();
    </script>
}

@section Styles{
    <link href="~/admin-app/controllers/staking/index.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .form-select.form-select-solid {
            border-color: #3c3f25;
        }
    </style>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container" id="kt_content_container">
        <div class="card">
            <div class="card-header card-header-stretch overflow-auto">
                <ul class="nav nav-stretch nav-line-tabs fw-bold border-transparent flex-nowrap fs-6" role="tablist" id="kt_layout_builder_tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#kt_staking" role="tab" aria-selected="false">Staking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="tabPackage" href="#kt_package" role="tab" aria-selected="true">Package</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="tabCommission" href="#kt_commission" role="tab" aria-selected="true">Commission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="tabAffiliate" href="#kt_affiliate" role="tab" aria-selected="true">Affiliate</a>
                    </li>
                </ul>
            </div>
            <div class="card-body ">
                <div class="tab-content">
                    <div class="tab-pane fade active show w-lg-450px offset-xl-2 offset-lg-2" id="kt_staking">
                        <form class="form w-100">
                            @Html.AntiForgeryToken()

                            <div class="text-center mb-6">
                                <div class="fs-4 fw-bolder">
                                    Buy ICD for price <span class="link-danger" style="color:red">$0.12</span> to Staking
                                </div>
                            </div>
                            <div class="fv-row mb-4">
                                <label class="form-label fs-6 fw-bolder text-dark">Wallet Type</label>
                                <select id="walletType" class="form-select form-select-lg form-select-solid">
                                    <option value="1" selected>Wallet BNB BEP20</option>
                                    <option value="2">Wallet BNB Affiliate</option>
                                    <option value="3">Wallet Invest</option>
                                </select>
                            </div>
                            <div class="fv-row mb-4">
                                <label class="form-label fs-6 fw-bolder text-dark">Balance</label>
                                <input class="form-control form-control-lg form-control-solid" type="text" id="WalletBalance" readonly autocomplete="off" />
                            </div>
                            <div class="fv-row mb-4">
                                <label class="form-label fs-6 fw-bolder text-dark">Time Line</label>
                                @Html.DropDownList("TimeLineType", null, "Select Time Line", new { @class = "form-select form-select-solid" })
                            </div>
                            <div class="fv-row mb-4">
                                <label class="form-label fs-6 fw-bolder text-dark">Package Order</label>
                                @Html.DropDownList("PackageType", null, "Select Package", new { @class = "form-select form-select-solid" })
                            </div>
                            <div class="fv-row mb-4">
                                <label class="form-label fs-6 fw-bolder text-dark">Amount Payment</label>
                                <input class="form-control form-control-lg form-control-solid numberFormat" type="text" id="AmountPayment" readonly autocomplete="off" />
                            </div>
                            <div class="card-footer py-6">
                                <div class="text-center">
                                    @*<button type="button" id="btnStaking" class="btn btn-lg btn-success mb-5">
                                        <span class="indicator-label">Staking</span>
                                    </button>*@

                                    <button type="button" disabled class="btn btn-lg btn-success mb-5">
                                        <span class="indicator-label">Staking</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="kt_package">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                <thead>
                                    <tr class="fw-bolder">
                                        <th class="min-w-140px">Action</th>
                                        <th class="min-w-140px">Package<br /><span class="text-muted">Amount</span></th>
                                        <th class="min-w-90px">Interest Rate<br /><span class="text-muted">Time Line</span></th>
                                        <th class="min-w-90px">Receive Amount<br /><span class="text-muted">Receive Latest</span></th>
                                        <th class="min-w-100px">Type<br /><span class="text-muted">Create Date</span></th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-content"></tbody>
                            </table>
                        </div>
                        @await Component.InvokeAsync("Paging")
                    </div>

                    <div class="tab-pane fade" id="kt_commission">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                <thead>
                                    <tr class="fw-bolder">
                                        <th class="min-w-140px">Package Interest Rate</th>
                                        <th class="min-w-140px">Sudden Interest Rate</th>
                                        <th class="min-w-90px">Real Interest Rate</th>
                                        <th class="min-w-90px">Amount</th>
                                        <th class="min-w-100px">Create Date</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-content-commission"></tbody>
                            </table>
                        </div>
                        @await Component.InvokeAsync("PagingCommission")
                    </div>

                    <div class="tab-pane fade" id="kt_affiliate">
                        <div class="table-responsive">
                            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                <thead>
                                    <tr class="fw-bolder">
                                        <th class="min-w-90px">Amount</th>
                                        <th class="min-w-100px">Create Date</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-content-affiliate"></tbody>
                            </table>
                        </div>
                        @await Component.InvokeAsync("PagingAffiliate")
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            {{{Function}}}
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{PackageName}}</a>
            <a href="#" class="text-muted fw-bolder text-hover-primary d-block fs-7">{{StakingAmount}}</a>
        </td>
        <td>
            <a href="#" class="fw-bolder text-dark text-hover-primary d-block fs-7">{{InterestRate}}%</a>
            <a href="#" class="fw-bolder text-muted text-hover-primary d-block fs-7">{{TimeLineName}}</a>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{ReceiveAmount}}</a>
            <a href="#" class="text-muted fw-bolder text-hover-primary d-block fs-7">{{ReceiveLatest}}</a>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{TypeName}}</a>
            <span class="text-muted fw-bolder text-muted d-block fs-7">{{DateCreated}}</span>
        </td>
    </tr>
</script>

<script id="table-template-commission" type="x-tmpl-mustache">
    <tr>
        <td>
            <a href="#" class="text-gray-700 fw-bolder d-block fs-7">{{PackageInterestRate}} %</a>
        </td>
        <td>
            <a href="#" class="text-gray-700 fw-bolder d-block fs-7">{{SuddenInterestRate}} %</a>
        </td>
        <td>
            <a href="#" class="text-gray-800 fw-bolder d-block fs-7">{{RealInterestRate}} %</a>
        </td>
        <td>
            <a href="#" class="text-gray-800 fw-bolder d-block fs-7">{{Amount}} ICD</a>
        </td>
        <td>
            <span class="text-gray-700 fw-bolder d-block fs-7">{{DateCreated}}</span>
        </td>
    </tr>
</script>

<script id="table-template-affiliate" type="x-tmpl-mustache">
    <tr>
        <td>
            <a href="#" class="text-gray-800 fw-bolder d-block fs-7">{{Amount}} ICD</a>
        </td>
        <td>
            <span class="text-gray-700 fw-bolder d-block fs-7">{{DateCreated}}</span>
        </td>
    </tr>
</script>