﻿@using System.Linq
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    Layout = "_LayoutAccount";
}

@section Styles{

}

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

    @*<script src="~/admin-app/controllers/account/login.js" asp-append-version="true"></script>
        <script>
            var login = new LoginController();
            login.initialize();
        </script>*@
}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
         style="background-size: 100% 50%; background-image: url(/admin-side/demo1/dist/assets/media/illustrations/development-hd-dark.png)">
        <div class="text-center pt-10">
            <a href="/" class=" ">
                <img alt="Logo" src="~/images/icdlogomain.png" class="h-70px" />
            </a>
        </div>
        <div class="p-5 pb-lg-20">
            <div class="w-lg-500px bg-body rounded shadow-sm p-5 p-lg-15 mx-auto">
                <form class="form w-100" method="post">
                    <div class="text-center mb-10">
                        <h1 class="text-dark mb-3">Sign In to ICD Game</h1>
                        @*<div class="text-gray-400 fw-bold fs-4">
                                New Here?
                                <a href="/register" class="link-primary fw-bolder">Create an Account</a>
                            </div>*@
                    </div>
                    <div class="fv-row mb-10">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Email</label>
                            <a href="/resendemailconfirm" class="link-primary fs-6 fw-bolder">Resend Email Confirm?</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="text" asp-for="Email" id="txtEmail" autocomplete="off" />
                    </div>
                    <div class="fv-row mb-10">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
                            <a href="/forgotpassword" class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="password" asp-for="Password" id="txtPassword" autocomplete="off" />
                    </div>
                    <div class="fv-row mb-10">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-md-offset-2 col-md-10" style="width:200px !important;">
                            <recaptcha />
                            <span class="text-danger" id="recaptchaErrorMessage"></span>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-primary mb-5">
                            <span class="indicator-label">Continue</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*<div class="container">
    <input type="text" id="message" />
    <input type="button" id="startGame" value="startGame" />
    <input type="button" id="sendmessage" value="Send" />
    <ul id="discussion"></ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
Script references. 
Reference the SignalR library. 
<script type="text/javascript" src="lib/signalr.min.js"></script>
Add script to update the page and send messages.
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

        var messageInput = document.getElementById('message');

        // Get the user name and store it to prepend to messages.
        var name = prompt('Enter your name:', '');
        // Set initial focus to message input box.
        messageInput.focus();

        

        // Start the connection.
        var connection = new signalR.HubConnectionBuilder()
            .withUrl('https://localhost:44396/hubs/game')
            .build();

        // Create a function that the hub can call to broadcast messages.
        connection.on('broadcastMessage', function (name, message) {
            // Html encode display name and message.
            var encodedName = name;
            var encodedMsg = message;
            // Add the message to the page.
            var liElement = document.createElement('li');
            liElement.innerHTML = '<strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
            document.getElementById('discussion').appendChild(liElement);
        });

        // Transport fallback functionality is now built into start.
        connection.start()
            .then(function () {
                console.log('connection started');
                document.getElementById('sendmessage').addEventListener('click', function (event) {
                    // Call the Send method on the hub.

                    connection.invoke('OnPlaceBetAsync', 35,200);

                    // Clear text box and reset focus for next comment.
                    messageInput.value = '';
                    messageInput.focus();
                    event.preventDefault();
                });
            })
            .catch(error => {
                console.error(error.message);
            });
    });
</script>*@