﻿@model RegisterViewModel
@{
    Layout = "_LayoutAccount";
}

@section Styles{}

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />

    <script src="~/admin-app/controllers/account/register.js" asp-append-version="true"></script>
    <script>
        var register = new registerController();
        register.initialize();
    </script>
}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" 
         style="background-size: 100% 50%; background-image: url(/admin-side/demo1/dist/assets/media/illustrations/development-hd-dark.png)">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-10">
            <a href="/" class="mb-5">
                <img alt="Logo" src="~/images/icdlogomain.png" class="h-60px" />
            </a>
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-10 mx-auto">
                <form class="form w-100">
                    @Html.AntiForgeryToken()
                    <div class="text-center mb-5">
                        <h1 class="text-dark mb-3">Create an Account</h1>
                        <div class="text-gray-400 fw-bold fs-4">
                            Already have an account?
                            <a href="/login" class="link-primary fw-bolder">Sign in here</a>
                        </div>
                    </div>
                    <div class="fv-row mb-4">
                        <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtEmail" autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <label class="form-label fs-6 fw-bolder text-dark">Password</label>
                        <input class="form-control form-control-lg form-control-solid" type="password" id="txtPassword" autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <label class="form-label fs-6 fw-bolder text-dark">Confirm Password</label>
                        <input class="form-control form-control-lg form-control-solid" type="password" id="txtConfirmPassword" autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <label class="form-label fs-6 fw-bolder text-dark">Sponsor</label>
                        <input class="form-control form-control-lg form-control-solid" type="text" value="@Model.Sponsor" id="txtSponsor" autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <label class="form-label fs-6 fw-bolder text-dark">BEP20 Address</label>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtBNBBEP20PublishKey" autocomplete="off" />
                    </div>
                    <div class="form-group mb-4">
                        <div class="col-md-offset-2 col-md-10">
                            <recaptcha />
                            <span class="text-danger" id="recaptchaErrorMessage"></span>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="btnRegister" class="btn btn-lg btn-primary">
                            <span class="indicator-label">Submit</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
