﻿@{
    Layout = "_LayoutAccount";
}

@section Styles{}

@section Scripts{
    <script src="~/admin-app/controllers/account/resend-email-confirm.js" asp-append-version="true"></script>
    <script>
        var resendEmailConfirm = new ResendEmailConfirmController();
        resendEmailConfirm.initialize();
    </script>
}

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-size: 100% 50%; 
background-image: url(/admin-side/demo1/dist/assets/media/illustrations/development-hd-dark.png)">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <a href="/" class="mb-12 ">
                <img alt="Logo" src="~/images/icdlogomain.png" class="h-70px" />
            </a>
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                <form class="form w-100">
                    @Html.AntiForgeryToken()
                    <div class="text-center mb-10">
                        <h1 class="text-dark mb-3">Resend Email Confirm?</h1>
                        <div class="text-gray-400 fw-bold fs-4">
                            Enter your email to resend.
                        </div>
                    </div>
                    <div class="fv-row mb-10">
                        <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtEmail" name="email" autocomplete="off" />
                    </div>

                    <div class="d-flex flex-wrap justify-content-center pb-lg-0">
                        <button type="button" id="btnResendEmailConfirm" class="btn btn-lg btn-primary fw-bolder me-4">
                            <span class="indicator-label">Submit</span>
                        </button>
                        <a href="/login" class="btn btn-lg btn-light-primary fw-bolder">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>