﻿@model WalletViewModel
@using BeCoreApp.Utilities.Constants
@{
    ViewBag.Title = "Wallet";

}
@section Scripts{
    <script src="~/lib/jquery-qrcode-master/src/jquery.qrcode.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-qrcode-master/src/qrcode.js" asp-append-version="true"></script>
    <script src="~/admin-app/controllers/wallet/index.js" asp-append-version="true"></script>
    <script>
        var walletObj = new WalletController();
        walletObj.initialize();
    </script>
}

@section Styles{
    <link href="~/admin-app/controllers/wallet/index.css" rel="stylesheet" asp-append-version="true" />
}
<input hidden id="Enabled2FA" value="@Model.Enabled2FA" />
<input hidden id="be-hidden-2faCode" />
<input hidden id="be-hidden-password" />
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container" id="kt_content_container">
        <div class="card mb-5 mb-xl-10">
            <div class="card-body">
                <div class="row gx-9 gy-6">

                    <div class="col-xl-6">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div class="d-flex flex-column py-2">
                                <div class="d-flex align-items-center">
                                    <img src="~/client-side/icd/img/icdlock.png" alt="" class="me-4 h-60px" />
                                    <div>
                                        <div class="fs-5 fw-bolder">Wallet Lock</div>
                                        <div class="fs-5 fw-bold text-gray-700"><span class="numberFormat" id="LockBalance">0.00</span> ICD</div>
                                        <div class="fs-8 text-danger">12/09/2021 - 12/03/2022</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" disabled>Withdraw</button>
                                <a href="/admin/transaction/walletlock" class="btn btn-icon btn-light-dark btn-active-color-success btn-sm">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                                <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div class="d-flex flex-column py-2">
                                <div class="d-flex align-items-center">
                                    <img src="~/client-side/icd/img/icdcoin.png" alt="" class="me-4 h-60px" />
                                    <div>
                                        <div class="fs-5 fw-bolder">Wallet Invest</div>
                                        <div class="fs-5 fw-bold text-gray-700"><span class="numberFormat" id="InvestBalance">0.00</span> ICD</div>
                                        <div class="fs-8 text-primary">Minimum withdraw 50 ICD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" data-bs-toggle="modal" data-bs-target="#ic_modal_deposit_invest">Deposit</button>
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" id="btnWithdrawInvest">Withdraw</button>
                                <a href="/admin/transaction/walletinvest" class="btn btn-icon btn-light-dark btn-active-color-success btn-sm">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                                <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div class="d-flex flex-column py-2">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/bnb.png" alt="" class="me-4 h-60px" />
                                    <div>
                                        <div class="fs-5 fw-bolder">Wallet BNB BEP20</div>
                                        <div class="fs-5 fw-bold text-gray-700"><span class="numberFormat" id="MainBalance">0.00</span> BNB</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" data-bs-toggle="modal" data-bs-target="#ic_modal_deposit_bnb">Deposit</button>
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" id="btnWithdrawBNBBEP20">Withdraw</button>
                                <a href="/admin/transaction/walletbnbbep20" class="btn btn-icon btn-light-dark btn-active-color-success btn-sm me-1">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                                <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div class="d-flex flex-column py-2">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/bnbaffiliate.png" alt="" class="me-4 h-60px" />
                                    <div>
                                        <div class="fs-5 fw-bolder">Wallet BNB Affiliate</div>
                                        <div class="fs-5 fw-bold text-gray-700"><span class="numberFormat" id="BNBAffiliateBalance">0.00</span> BNB</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <button class="btn btn-sm btn-light-dark btn-active-light-success me-3" id="btnWithdrawBNBAffiliate">Withdraw</button>
                                <a href="/admin/transaction/walletbnbaffiliate" class="btn btn-icon btn-light-dark btn-active-color-success btn-sm me-1">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                                <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div class="d-flex flex-column py-2">
                                <div class="d-flex align-items-center">
                                    <img src="~/client-side/icd/img/ICDLogo1.png" alt="" class="me-4 h-60px" />
                                    <div>
                                        <div class="fs-5 fw-bolder">Wallet ICD Commission</div>
                                        <div class="fs-5 fw-bold text-gray-700"><span class="numberFormat" id="ICDCommissionBalance">0.00</span> ICD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" disabled>Swap</button>
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" id="btnWithdrawCommission">Withdraw</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div class="d-flex flex-column py-2">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/icdaffiliate.png" alt="" class="me-4 h-60px" />
                                    <div>
                                        <div class="fs-5 fw-bolder">Wallet ICD Affiliate</div>
                                        <div class="fs-5 fw-bold text-gray-700"><span class="numberFormat" id="ICDAffiliateBalance">0.00</span> ICD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-2">
                                <button class="btn btn-sm btn-light-dark btn-active-color-success me-3" disabled>Swap</button>
                                <button class="btn btn-sm btn-light-dark btn-active-color-success" id="btnWithdrawAffiliate">Withdraw</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5 mt-xl-20 mb-xl-10">
            <div class="card-header align-items-center border-0">
                <h3 class="card-title fw-bolder text-dark fs-5">Request Transaction</h3>
            </div>
            <div class="card-body py-3">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="fw-bolder text-muted">
                                <th class="min-w-100px">
                                    Type
                                </th>
                                <th class="min-w-90px">Amount</th>
                                <th class="min-w-90px">Fee<br />FeeAmount</th>
                                <th class="min-w-90px">Amount Receive</th>
                                <th class="">
                                    Address To
                                </th>
                                <th class="min-w-90px">
                                    Status
                                </th>
                                <th class="min-w-150px">
                                    Created Date
                                    <br />
                                    Updated Date
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("Paging")
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-7">{{TypeName}}</a>
        </td>
        <td>
            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-7">{{Amount}} {{UnitName}}</a>
        </td>
        <td>
            <a href="#" class=" fw-bold text-muted text-hover-primary d-block fs-7">{{Fee}}%</a>
            <a href="#" class=" fw-bold text-muted text-hover-primary d-block fs-7">{{FeeAmount}} {{UnitName}}</a>
        </td>
        <td>
            <a href="#" class="text-dark fw-bold text-hover-primary d-block fs-7">{{AmountReceive}} {{UnitName}}</a>
        </td>
        <td>
            <a href="#" class="fw-bold text-muted text-hover-primary d-block fs-7">{{AddressTo}}</a>
        </td>
        <td>
            <span class="fw-bold text-muted d-block fs-7">{{{StatusName}}}</span>
        </td>
        <td>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{DateCreated}}</span>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{DateUpdated}}</span>
        </td>
    </tr>
</script>

<div class="modal fade" id="ic_modal_withdraw_bnbbep20">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-6">
                <form class="form">
                    @Html.AntiForgeryToken()
                    <div class="mb-6 text-center">
                        <h3 class="mb-3">Wallet BNB BEP20</h3>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-primary fw-bolder">Minimum withdraw 0.05 BNB</a>
                        </div>
                    </div>

                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Wallet BNB BEP20</label>
                            <a class="link-warning fs-6 fw-bolder">BNB</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid MainBalance" type="text" readonly />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount</label>
                            <a class="link-warning fs-6 fw-bolder">BNB</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid numberFormat" type="text" id="txtBNBBEP20Amount" autocomplete="off" />
                        <span class="form-label fs-7 mt-1 text-danger lblBNBBEP20ErrorInsufficient"></span>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Fee</label>
                            <a class="link-warning fs-6 fw-bolder">1%</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtBNBBEP20FeeAmount" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount Receive</label>
                            <a class="link-warning fs-6 fw-bolder">BNB</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtBNBBEP20AmountReceive" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Address Receive</label>
                            <a class="link-success fs-7 fw-bolder">Bep20 address (smart chain)</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtBNBBEP20AddressTo" autocomplete="off" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnConfirmWithdrawBNBBEP20" class="btn btn-light-dark btn-active-color-success me-2 mb-2">
                            Submit
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ic_modal_withdraw_invest">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    @Html.AntiForgeryToken()
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Wallet Invest</h2>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-primary fw-bolder">Minimum withdraw 50 ICD</a>
                        </div>
                    </div>

                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Wallet Invest</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid InvestBalance" type="text" readonly autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid numberFormat" type="text" id="txtInvestAmount" autocomplete="off" />
                        <span class="form-label fs-7 mt-1 text-danger lblInvestErrorInsufficient"></span>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Fee</label>
                            <a class="link-warning fs-6 fw-bolder">2%</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtInvestFeeAmount" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount Receive</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtInvestAmountReceive" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Address Receive</label>
                            <a class="link-success fs-6 fw-bolder">Bep20 address (smart chain)</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtInvestAddressTo" autocomplete="off" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnConfirmWithdrawInvest" class="btn btn-light-dark btn-active-color-success me-2 mb-2">
                            Submit
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ic_modal_withdraw_commission">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    @Html.AntiForgeryToken()
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Wallet ICD Commission</h2>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-primary fw-bolder">Minimum withdraw 50 ICD</a>
                        </div>
                    </div>

                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Wallet Commission</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid CommissionBalance" type="text" readonly autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid numberFormat" type="text" id="txtCommissionAmount" autocomplete="off" />
                        <span class="form-label fs-7 mt-1 text-danger lblCommissionErrorInsufficient"></span>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Fee</label>
                            <a class="link-warning fs-6 fw-bolder">2%</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtCommissionFeeAmount" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount Receive</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtCommissionAmountReceive" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Address Receive</label>
                            <a class="link-success fs-6 fw-bolder">Bep20 address (smart chain)</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtCommissionAddressTo" autocomplete="off" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnConfirmWithdrawCommission" class="btn btn-light-dark btn-active-color-success me-2 mb-2">
                            Submit
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ic_modal_withdraw_affiliate">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    @Html.AntiForgeryToken()
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Wallet ICD Affiliate</h2>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-primary fw-bolder">Minimum withdraw 50 ICD</a>
                        </div>
                    </div>

                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Wallet ICD Affiliate</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid ICDAffiliateBalance" type="text" readonly autocomplete="off" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid numberFormat" type="text" id="txtICDAffiliateAmount" autocomplete="off" />
                        <span class="form-label fs-7 mt-1 text-danger lblICDAffiliateErrorInsufficient"></span>
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Fee</label>
                            <a class="link-warning fs-6 fw-bolder">2%</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtICDAffiliateFeeAmount" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Amount Receive</label>
                            <a class="link-warning fs-6 fw-bolder">ICD</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" value="0" type="text" readonly id="txtICDAffiliateAmountReceive" />
                    </div>
                    <div class="fv-row mb-4">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fs-6 fw-bolder text-dark">Address Receive</label>
                            <a class="link-success fs-6 fw-bolder">Bep20 address (smart chain)</a>
                        </div>
                        <input class="form-control form-control-lg form-control-solid" type="text" id="txtICDAffiliateAddressTo" autocomplete="off" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnConfirmWithdrawICDAffiliate" class="btn btn-light-dark btn-active-color-success me-2 mb-2">
                            Submit
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ic_modal_deposit_bnb">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Wallet BNB BEP20</h2>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-dark fw-bolder">This address support BNB BEP20</a>
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-8 fv-row">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div style="text-align:center;width:100%" class="qr-code" id="qrcodeMainPublishKey"></div>
                        </div>
                    </div>
                    <div class=" mb-4 fv-row text-center">
                        <a href="#" class="link-primary fw-bolder fs-5">Minimum deposit 0.01 BNB</a>
                    </div>
                    <div class=" mb-6 fv-row text-center">
                        <input type="text" class="form-control form-control-solid fs-8 fs-lg-6 fw-bold" readonly id="txtMainPublishKey" value="@Model.MainPublishKey" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnCopyBNBPublishKey" class="btn btn-outline btn-outline-dashed btn-outline-default btn-active-light-dark me-2 mb-2">
                            <span class="svg-icon svg-icon-2x svg-icon-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M11.7573593,15.2426407 L8.75735931,15.2426407 C8.20507456,15.2426407 7.75735931,15.6903559 7.75735931,16.2426407 C7.75735931,16.7949254 8.20507456,17.2426407 8.75735931,17.2426407 L11.7573593,17.2426407 L11.7573593,18.2426407 C11.7573593,19.3472102 10.8619288,20.2426407 9.75735931,20.2426407 L5.75735931,20.2426407 C4.65278981,20.2426407 3.75735931,19.3472102 3.75735931,18.2426407 L3.75735931,14.2426407 C3.75735931,13.1380712 4.65278981,12.2426407 5.75735931,12.2426407 L9.75735931,12.2426407 C10.8619288,12.2426407 11.7573593,13.1380712 11.7573593,14.2426407 L11.7573593,15.2426407 Z" fill="#000000" opacity="0.3" transform="translate(7.757359, 16.242641) rotate(-45.000000) translate(-7.757359, -16.242641)"></path>
                                        <path d="M12.2426407,8.75735931 L15.2426407,8.75735931 C15.7949254,8.75735931 16.2426407,8.30964406 16.2426407,7.75735931 C16.2426407,7.20507456 15.7949254,6.75735931 15.2426407,6.75735931 L12.2426407,6.75735931 L12.2426407,5.75735931 C12.2426407,4.65278981 13.1380712,3.75735931 14.2426407,3.75735931 L18.2426407,3.75735931 C19.3472102,3.75735931 20.2426407,4.65278981 20.2426407,5.75735931 L20.2426407,9.75735931 C20.2426407,10.8619288 19.3472102,11.7573593 18.2426407,11.7573593 L14.2426407,11.7573593 C13.1380712,11.7573593 12.2426407,10.8619288 12.2426407,9.75735931 L12.2426407,8.75735931 Z" fill="#000000" transform="translate(16.242641, 7.757359) rotate(-45.000000) translate(-16.242641, -7.757359)"></path>
                                        <path d="M5.89339828,3.42893219 C6.44568303,3.42893219 6.89339828,3.87664744 6.89339828,4.42893219 L6.89339828,6.42893219 C6.89339828,6.98121694 6.44568303,7.42893219 5.89339828,7.42893219 C5.34111353,7.42893219 4.89339828,6.98121694 4.89339828,6.42893219 L4.89339828,4.42893219 C4.89339828,3.87664744 5.34111353,3.42893219 5.89339828,3.42893219 Z M11.4289322,5.13603897 C11.8194565,5.52656326 11.8194565,6.15972824 11.4289322,6.55025253 L10.0147186,7.96446609 C9.62419433,8.35499039 8.99102936,8.35499039 8.60050506,7.96446609 C8.20998077,7.5739418 8.20998077,6.94077682 8.60050506,6.55025253 L10.0147186,5.13603897 C10.4052429,4.74551468 11.0384079,4.74551468 11.4289322,5.13603897 Z M0.600505063,5.13603897 C0.991029355,4.74551468 1.62419433,4.74551468 2.01471863,5.13603897 L3.42893219,6.55025253 C3.81945648,6.94077682 3.81945648,7.5739418 3.42893219,7.96446609 C3.0384079,8.35499039 2.40524292,8.35499039 2.01471863,7.96446609 L0.600505063,6.55025253 C0.209980772,6.15972824 0.209980772,5.52656326 0.600505063,5.13603897 Z" fill="#000000" opacity="0.3" transform="translate(6.014719, 5.843146) rotate(-45.000000) translate(-6.014719, -5.843146)"></path>
                                        <path d="M17.9142136,15.4497475 C18.4664983,15.4497475 18.9142136,15.8974627 18.9142136,16.4497475 L18.9142136,18.4497475 C18.9142136,19.0020322 18.4664983,19.4497475 17.9142136,19.4497475 C17.3619288,19.4497475 16.9142136,19.0020322 16.9142136,18.4497475 L16.9142136,16.4497475 C16.9142136,15.8974627 17.3619288,15.4497475 17.9142136,15.4497475 Z M23.4497475,17.1568542 C23.8402718,17.5473785 23.8402718,18.1805435 23.4497475,18.5710678 L22.0355339,19.9852814 C21.6450096,20.3758057 21.0118446,20.3758057 20.6213203,19.9852814 C20.2307961,19.5947571 20.2307961,18.9615921 20.6213203,18.5710678 L22.0355339,17.1568542 C22.4260582,16.76633 23.0592232,16.76633 23.4497475,17.1568542 Z M12.6213203,17.1568542 C13.0118446,16.76633 13.6450096,16.76633 14.0355339,17.1568542 L15.4497475,18.5710678 C15.8402718,18.9615921 15.8402718,19.5947571 15.4497475,19.9852814 C15.0592232,20.3758057 14.4260582,20.3758057 14.0355339,19.9852814 L12.6213203,18.5710678 C12.2307961,18.1805435 12.2307961,17.5473785 12.6213203,17.1568542 Z" fill="#000000" opacity="0.3" transform="translate(18.035534, 17.863961) scale(1, -1) rotate(45.000000) translate(-18.035534, -17.863961)"></path>
                                    </g>
                                </svg>
                            </span> Copy address
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ic_modal_deposit_invest">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Wallet Invest</h2>
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-warning fw-bolder">This address support ICD BEP20</a>
                        </div>
                    </div>

                    <div class="d-flex flex-column mb-8 fv-row">
                        <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6">
                            <div style="text-align:center;width:100%" class="qr-code" id="qrcodeInvestPublishKey"></div>
                        </div>
                    </div>
                    <div class=" mb-4 fv-row text-center">
                        <a href="#" class="link-primary fw-bolder fs-5">Minimum deposit 100 ICD</a>
                    </div>
                    <div class=" mb-6 fv-row text-center">
                        <input type="text" class="form-control form-control-solid fs-8 fs-lg-6 fw-bold" readonly id="txtInvestPublishKey" value="@Model.MainPublishKey" />
                    </div>

                    <div class="text-center">
                        <a href="#" id="btnCopyInvestPublishKey" class="btn btn-outline btn-outline-dashed btn-outline-default btn-active-light-dark me-2 mb-2">
                            <span class="svg-icon svg-icon-2x svg-icon-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"></rect>
                                        <path d="M11.7573593,15.2426407 L8.75735931,15.2426407 C8.20507456,15.2426407 7.75735931,15.6903559 7.75735931,16.2426407 C7.75735931,16.7949254 8.20507456,17.2426407 8.75735931,17.2426407 L11.7573593,17.2426407 L11.7573593,18.2426407 C11.7573593,19.3472102 10.8619288,20.2426407 9.75735931,20.2426407 L5.75735931,20.2426407 C4.65278981,20.2426407 3.75735931,19.3472102 3.75735931,18.2426407 L3.75735931,14.2426407 C3.75735931,13.1380712 4.65278981,12.2426407 5.75735931,12.2426407 L9.75735931,12.2426407 C10.8619288,12.2426407 11.7573593,13.1380712 11.7573593,14.2426407 L11.7573593,15.2426407 Z" fill="#000000" opacity="0.3" transform="translate(7.757359, 16.242641) rotate(-45.000000) translate(-7.757359, -16.242641)"></path>
                                        <path d="M12.2426407,8.75735931 L15.2426407,8.75735931 C15.7949254,8.75735931 16.2426407,8.30964406 16.2426407,7.75735931 C16.2426407,7.20507456 15.7949254,6.75735931 15.2426407,6.75735931 L12.2426407,6.75735931 L12.2426407,5.75735931 C12.2426407,4.65278981 13.1380712,3.75735931 14.2426407,3.75735931 L18.2426407,3.75735931 C19.3472102,3.75735931 20.2426407,4.65278981 20.2426407,5.75735931 L20.2426407,9.75735931 C20.2426407,10.8619288 19.3472102,11.7573593 18.2426407,11.7573593 L14.2426407,11.7573593 C13.1380712,11.7573593 12.2426407,10.8619288 12.2426407,9.75735931 L12.2426407,8.75735931 Z" fill="#000000" transform="translate(16.242641, 7.757359) rotate(-45.000000) translate(-16.242641, -7.757359)"></path>
                                        <path d="M5.89339828,3.42893219 C6.44568303,3.42893219 6.89339828,3.87664744 6.89339828,4.42893219 L6.89339828,6.42893219 C6.89339828,6.98121694 6.44568303,7.42893219 5.89339828,7.42893219 C5.34111353,7.42893219 4.89339828,6.98121694 4.89339828,6.42893219 L4.89339828,4.42893219 C4.89339828,3.87664744 5.34111353,3.42893219 5.89339828,3.42893219 Z M11.4289322,5.13603897 C11.8194565,5.52656326 11.8194565,6.15972824 11.4289322,6.55025253 L10.0147186,7.96446609 C9.62419433,8.35499039 8.99102936,8.35499039 8.60050506,7.96446609 C8.20998077,7.5739418 8.20998077,6.94077682 8.60050506,6.55025253 L10.0147186,5.13603897 C10.4052429,4.74551468 11.0384079,4.74551468 11.4289322,5.13603897 Z M0.600505063,5.13603897 C0.991029355,4.74551468 1.62419433,4.74551468 2.01471863,5.13603897 L3.42893219,6.55025253 C3.81945648,6.94077682 3.81945648,7.5739418 3.42893219,7.96446609 C3.0384079,8.35499039 2.40524292,8.35499039 2.01471863,7.96446609 L0.600505063,6.55025253 C0.209980772,6.15972824 0.209980772,5.52656326 0.600505063,5.13603897 Z" fill="#000000" opacity="0.3" transform="translate(6.014719, 5.843146) rotate(-45.000000) translate(-6.014719, -5.843146)"></path>
                                        <path d="M17.9142136,15.4497475 C18.4664983,15.4497475 18.9142136,15.8974627 18.9142136,16.4497475 L18.9142136,18.4497475 C18.9142136,19.0020322 18.4664983,19.4497475 17.9142136,19.4497475 C17.3619288,19.4497475 16.9142136,19.0020322 16.9142136,18.4497475 L16.9142136,16.4497475 C16.9142136,15.8974627 17.3619288,15.4497475 17.9142136,15.4497475 Z M23.4497475,17.1568542 C23.8402718,17.5473785 23.8402718,18.1805435 23.4497475,18.5710678 L22.0355339,19.9852814 C21.6450096,20.3758057 21.0118446,20.3758057 20.6213203,19.9852814 C20.2307961,19.5947571 20.2307961,18.9615921 20.6213203,18.5710678 L22.0355339,17.1568542 C22.4260582,16.76633 23.0592232,16.76633 23.4497475,17.1568542 Z M12.6213203,17.1568542 C13.0118446,16.76633 13.6450096,16.76633 14.0355339,17.1568542 L15.4497475,18.5710678 C15.8402718,18.9615921 15.8402718,19.5947571 15.4497475,19.9852814 C15.0592232,20.3758057 14.4260582,20.3758057 14.0355339,19.9852814 L12.6213203,18.5710678 C12.2307961,18.1805435 12.2307961,17.5473785 12.6213203,17.1568542 Z" fill="#000000" opacity="0.3" transform="translate(18.035534, 17.863961) scale(1, -1) rotate(45.000000) translate(-18.035534, -17.863961)"></path>
                                    </g>
                                </svg>
                            </span> Copy address
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>