﻿@model HomeViewModel
@section Styles{
}

@section Scripts{

}

<section class="promo">
    <img src="~/client-side/icd/img/banner2.png" data-aos="fade-up" alt="" class="promo__img aos-init aos-animate" style="width: 990px;">
    <div class="container">
        <div class="row">
            <div class="col-12 promo__content" data-aos="fade-right">
                <h1>
                    IC DEFI
                    <span style="font-size: 30px;font-family: 'Roboto';color: #38c992;">Pancakeswap.finance Policy:</span>
                </h1>
                <p style="font-family:Roboto;font-size:16px;">
                    Total: <span style="color: #11e019;">2,500,000 ICD Token</span><br />
                    Price: <span style="color: #11e019;">$0.2</span><br />
                    @*Listing price: <span style="color: #11e019;">$0.2</span><br />
                        <span style="color: #eab30b;">Min 0.1 BNB - Max 6 BNB</span><br />
                        Refferal reward policy<br />
                        LEVEL 1: <span style="color: #11e019;">5%</span><br />
                        LEVEL 2: <span style="color: #11e019;">3%</span><br />
                        LEVEL 3: <span style="color: #11e019;">2%</span><br />
                        SPECIAL: <span style="color: #ffc107;">Pay in BNB to your wallet</span>*@
                </p>

                @*<div class="timer-wrap">
                        <div id="timer" class="timer"></div>
                        <div class="timer__titles">
                            <div>Days</div>
                            <div>Hours</div>
                            <div>Minutes</div>
                            <div>Seconds</div>
                        </div>
                    </div>*@

                <div class="promo__btns-wrap">
                    <a href="/login" class="btn btn--medium btn--orange"><span>Join Now</span></a>
                    <a href="~/whitepaper/ICDeFi-whitepaper.pdf" class="btn btn--big btn--blue" target="_blank">Whitepaper</a>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down">
        <img src="~/client-side/icd/img/scroll-down.png" alt="">
    </div>
</section>

<section class="economy">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="economy__block">
                    <div class="economy__block-content">
                        <div class="section-header section-header--white section-header--tire section-header--small-margin">
                            <iframe width="100%" height="450" src="https://www.youtube.com/embed/mgDKPgMc8M8?autoplay=1" title="ICD Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            <h4>decentralised economy</h4>
                            <h2>
                                VIDEO TRAILER <span>enables developer solutions</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/video-bg.png" alt="" class="economy__bg">
</section>

<section class="section about" id="about">
    <div class="container">
        <div class="row">
            <div data-aos="fade-right" class="col-lg-5">
                <div class="section-header section-header--animated section-header--tire section-header--small-margin">
                    <h4>About Us</h4>
                    <h2>
                        IC DeFi <span style="color: #ffc107;">is the best for Holder</span>
                    </h2>
                </div>
                <div class="about__animated-content">
                    <p>
                        We are a team of DeFi builders in AUSTRALIA and UK who wants to build an ecosystem of DeFi  products that helps traditional ﬁnance users to access to DeFi services much easier.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 align-items-center">
                <img src="~/client-side/icd/img/about-img.png" class=" img-responsive" />
            </div>
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <div style="width:1200px">
                    <img src="~/images/bot_animate.svg" />
                </div>
            </div>
        </div>*@
    <img src="~/client-side/icd/img/about-bg.png" data-jarallax-element="40" alt="" class="about__bg">
</section>


<section class="section map" id="map">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--center section-header--medium-margin">
                    <h4>Our way</h4>
                    <h2>Road Map ICD Token</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-4 col-sm-8 offset-sm-4">
                <div class="road">
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 1:
                            </div>
                            <p>
                                • Building a global ICD Coin ecosystem platform<br />
                                • Build social channels Facebook, Twitter, Instagram, Telegram, Discord, Youtube, Support Channel<br />
                                • Officially open sale and launch ICD platform globally through Seed Round,Private Sale, Presale
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 2:
                            </div>
                            <p>
                                • Cooperating with reputable auditing units Certik, CTDsec, Techrate<br />
                                • Developing ICD on DEX/Swap/Farm/Staking<br />
                                • Listing on PancakeSwap and 2 international DEXs
                            </p>
                        </div>
                    </div>
                    <div class="road__item @*road__item-next*@">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 3:
                            </div>
                            <p>
                                • Research and development on NFT technology on Defi platform of ICD<br />
                                • Research and development MarketPlace to buy and sell and develop NFTs in the form of artificial intelligence – users can create their own AI through the ICD platform<br />
                                • Launching ICD's Android and IOS App platforms<br />
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 4:
                            </div>
                            <p>
                                • List ICD on major international P2P exchanges like Binance, Huobi, Gate.io<br />
                                • Links to put ICD coins on crypto news sites like CoinMarketCap, Coinnomi, LiveCoinWatch<br />
                                • Research and optimize technology for virtual reality games and artificial intelligence
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 5:
                            </div>
                            <p>
                                • Launching a financial game called ICDgame community in this game where we can join and build our own investment business, and completely on ICD's NFT platform<br />
                                • Establishing representative offices in multinationals<br />
                                • Focus on developing charity fund and fund for global artificial intelligence technology research through auctions and patents
                            </p>
                        </div>
                    </div>
                    <div class="road__item">
                        <div class="road__item-metka"></div>
                        <div class="road__item-content">
                            <div class="road__item-title">
                                Stage 6:
                            </div>
                            <p>
                                • Bringing Community game ICD games to major distribution platforms such as Egame, Xbox, Play Station<br />
                                • Develop more study promotion funds, support people who are passionate about technology and science to be able to study and develop methodically<br />
                                • Organize art exhibitions and art exhibitions around the world
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/client-side/icd/img/road_map.png" data-jarallax-element="-40" alt="" class="map__title-bg">
    </div>
</section>

<section class="partners-logo" id="partners-logo">
    <div class="container">
        <div class="row">
            <div data-aos="fade-up" class="col">
                <div class="partners-logo__block">
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://coincronica.de/benefits-and-potential-not-to-be-missed-when-holding-icd-token-right-in-the-seed-round/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/coincronica.png" style="width:auto !important" alt="#">
                        </a>
                        <p>CoinCronica</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://www.coinblaze.us/icd-defi-overview-of-icd-token/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/Coinblaze.png" style="width:auto !important" alt="#">
                        </a>
                        <p>Coinblaze</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://hashnews.us/2021/08/26/icd-defi-affirm-global-artificial-intelligence-technology/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/Hashnews.png" style="width:auto !important" alt="#">
                        </a>
                        <p>HashNews</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://www.coinedict.com/guest-post/what-characteristics-do-icdefi-have-that-are-superior-to-similar-projects-already-issued/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/coinedict.png" style="width:auto !important" alt="#">
                        </a>
                        <p>Coinedict</p>
                    </div>

                    <div class="partners-logo__item">
                        <a target="_blank" href="https://cryptonode.us/icd-token-the-most-powerful-nft-defi-platform-in-the-ecosystem/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/cryptonode.png" style="width:auto !important" alt="#">
                        </a>
                        <p>Crypto Node</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://kryptort.ch/icdefi-game-community-promises-a-breakthrough-in-the-future/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/kryptort.png" alt="#" style="width:auto !important;">
                        </a>
                        <p>Kryptort</p>
                    </div>
                    <div class="partners-logo__item">
                        <a target="_blank" href="https://coinomi.us/icd-token-the-most-powerful-nft-defi-platform-in-the-ecosystem/">
                            <img class="img-fluid center-block" src="~/images/logo-partner/Coinomi.png" alt="#">
                        </a>
                        <p>Coinomi</p>
                    </div>

                    <div class="partners-logo__item">
                        <a target="_blank" href="#">
                            <img class="img-fluid center-block" src="~/images/logo-partner/Coinmarketcap.png" alt="#">
                        </a>
                        <p>Coinmarketcap</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/partenrs-bg.png" data-jarallax-element="20" alt="" class="partners-logo__bg">
</section>

<section class="section cases">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--center section-header--medium-margin">
                    <h2>Outstanding Features</h2>
                    <h4 style="text-transform:none;color: #aeb3c6;">ICD Token trading platform - Developed by a technology company with a professional team and experienced experts in the field of Blockchain technology, Especially with leading artificial intelligence technology top of the world</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col cases__list">
                <div data-aos="fade-right" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-1.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Support
                        </div>
                        <p class="cases__item-text">
                            Supported on big exchanges DeFi and NFT exchanges
                        </p>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-delay="200" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-2.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Farming
                        </div>
                        <p class="cases__item-text">
                            Farming automatically up to 8%/month, 30% of transaction fees are allocated to Holders in DeFi fund - BNB
                        </p>
                    </div>
                </div>
                <div data-aos="fade-right" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-3.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Speed
                        </div>
                        <p class="cases__item-text">
                            Liquidity and fast transaction speed
                        </p>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-delay="200" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-4.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Security
                        </div>
                        <p class="cases__item-text">
                            100% account security
                        </p>
                    </div>
                </div>
                <div data-aos="fade-right" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-5.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Fee
                        </div>
                        <p class="cases__item-text">
                            Low transaction costs
                        </p>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-delay="200" class="cases__item">
                    <img src="~/client-side/icd/img/cases-icon-6.png" alt="" class="cases__item-icon">
                    <div class="cases__item-content">
                        <div class="cases__item-title">
                            Governance
                        </div>
                        <p class="cases__item-text">
                            Holders can use ICD to vote for governance proposals to change product parameters
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a href="/login" class="btn btn--orange btn--uppercase"><span>Join Now</span></a>
        </div>
    </div>
    <img src="~/client-side/icd/img/cases-bg.png" class="cases__bg" alt="">
    <img src="~/client-side/icd/img/cases-imgs.png" class="cases__elements" alt="">
</section>

<section class="data" id="stat">
    <div class="container data__container">
        <div class="row">
            <div class="col">
                <img src="~/client-side/icd/img/data-bg.png" class="data__img" alt="">
                <div class="counter__item counter__item-1">
                    <div class="counter__item-title">Holder</div>
                    <div class="counter counter__item-value counter__item-value--blue numscroller">4,477.00</div>
                </div>
                <div class="counter__item counter__item-2">
                    <div class="counter__item-title">Exchange</div>
                    <div class="counter counter__item-value counter__item-value--pink">46,321.00</div>
                </div>
                <div class="counter__item counter__item-3">
                    <div class="counter__item-title">Lock on liquidity providers</div>
                    <div class="counter counter__item-value counter__item-value--green">300,000,000.00</div>
                </div>
                <div class="counter__item counter__item-4">
                    <div class="counter__item-title">DeFi Fund - NFT BNB</div>
                    <div class="counter counter__item-value counter__item-value--purpure">76,981,000,000,000.00</div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/data-bg-space.png" class="data__bg" alt="">
</section>

<section class="section token" id="token">
    <div class="container">
        <div class="row">
            <img src="~/client-side/icd/img/token-img.png" class="token__img" alt="">
            <div data-aos="fade-left" class="col-lg-6 offset-lg-6 token__animated-content">
                <div class="section-header section-header--tire section-header--small-margin">
                    <h4>About token</h4>
                    <h2>Token Sale</h2>
                </div>

                <ul class="token__info-list">
                    <li>
                        <span>Token name:</span> IC DEFI
                    </li>
                    <li>
                        <span>Ticker Symbol:</span> ICD
                    </li>
                    <li>
                        <span>Decimals:</span> 18
                    </li>
                    <li>
                        <span>Max. Supply (Hard Cap):</span> 50,000,000.00
                    </li>
                    <li>
                        <span>Token Platform:</span> BNB BSC
                    </li>
                    <li>
                        <span>Token Standard:</span> BEP20
                    </li>
                    <li>
                        <span>Address ICD Token:</span><span><a target="_blank" href="https://bscscan.com/token/0x0667427e71d38bb32f4e1226c41aa42ac50953c7">0x0667427e71d38bb32f4e1226c41aa42ac50953c7</a></span>
                    </li>
                    <li>
                        <span>Address ICD Contract:</span><span><a target="_blank" href="https://bscscan.com/address/0x0667427e71d38bb32f4e1226c41aa42ac50953c7">0x0667427e71d38bb32f4e1226c41aa42ac50953c7</a></span>
                    </li>
                </ul>

                <div class="token__desc">
                    <div class="token__desc-title">General description</div>
                    <div class="token__desc-text">
                        <p>
                            ICD will be released on the basis of BNB BSC platform and fully comply with BEP20 standard.
                        </p>
                        <p>
                            Support of this standard guarantees the compatibility of the token with third-party services (wallets, exchanges, listings, etc.), and provides easy integration.
                        </p>
                    </div>
                </div>

                <a href="" class="btn btn--small btn--uppercase btn--orange"><span>Buy Token</span></a>

            </div>
        </div>
    </div>
</section>

<section class="docs" id="docs">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated seaction-header--center section-header--tire section-header--medium-margin">
                    <h4>ICD Token</h4>
                    <h2 style="font-size:30px;">Outstanding advantages</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/LiquidityLock.png" alt="">
                        <div class="doc__title">
                            Lock long-term liquidity, avoid speculation
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/PriceIncrease.png" alt="">
                        <div class="doc__title">
                            Potential to increase price over time
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/Decentralized.png" alt="">
                        <div class="doc__title">
                            Completely decentralized, fast transaction speed
                        </div>
                    </div>
                </a>
            </div>
            <div data-aos="fade-up" data-aos-delay="600" class="col-lg-3 col-md-6 col-sm-6 col-12">
                <a href="#" class="doc">
                    <div class="doc__content">
                        <img src="~/client-side/icd/img/NFTProduct.png" alt="">
                        <div class="doc__title">
                            Own NFT products through ICD Token
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/docs-bg.png" data-jarallax-element="40" alt="" class="docs__bg">
</section>

<section class="data token-data section section--no-pad-bot">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--animated section-header--medium-margin section-header--center">
                    <h4>Our data</h4>
                    <h2>Token Distribution</h2>
                    <div class="bg-title">
                        Token Distribution
                    </div>
                </div>
            </div>
        </div>
        <div class="row chart__row align-items-center">
            <div class="col-lg-6">
                <div class="chart">
                    <img class="chart__bg" src="~/client-side/icd/img/chart-bg.png" alt="">
                    <div class="chart__wrap">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="col-lg-6 token-data__animated-content">
                <div class="chart__title">
                    Allocation of funds
                </div>
                <p class="chart__text">
                    Total token supply  - 50,000,000.00 ICD
                </p>
                <ul class="chart__legend">
                    <li>
                        <span style="width: 30px;background:#ba0cd8"></span>
                        5% Marketing, Airdrop
                    </li>
                    <li>
                        <span style="width: 30px;background:#ff9800"></span>
                        5% Seed Round
                    </li>
                    <li>
                        <span style="width: 30px;background:#cbde08"></span>
                        5% Private Sale
                    </li>
                    <li>
                        <span style="width: 60px;background:#00b907"></span>
                        10% PreSale
                    </li>
                    <li>
                        <span style="width: 60px;background:#008eff"></span>
                        10% Staking
                    </li>
                    <li>
                        <span style="width: 60px;background:#7c3deb"></span>
                        10% Farming
                    </li>
                    <li>
                        <span style="width: 30px;background:#eb145d"></span>
                        5% Team
                    </li>
                    <li>
                        <span style="width: 220px;background:#860000"></span>
                        50% Burning
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--center section-header--small-margin">
                    <h4>In the system</h4>
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="news-carousel owl-carousel">
                    @foreach (var item in Model.HomeBlogs)
                    {
                        var url = $"{item.SeoAlias}-b.{item.Id}.html";
                        <a href="@url" class="news-carousel__item">
                            <div class="news-carousel__item-body">
                                <div class="news-carousel__item-subtitle">@item.BlogCategory.Name</div>

                                <img src="@item.Image" />

                                <h3 class="news-carousel__item-title">
                                    @item.Name
                                </h3>
                                <p>
                                    @item.Description
                                </p>
                                <div class="news-carousel__item-data">
                                    @item.DateModified.ToString("MM-dd-yyyy")
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-header section-header--center section-header--medium-margin">
                    <h4>Contact With us</h4>
                    <h2>Contact IC DEFI</h2>
                    <h3 style="color:white;">
                        Email: support@icdefi.org
                    </h3>
                </div>

                <form class="form contact-form">
                    <input id="txtFullName" type="text" class="form__input" placeholder="Name">
                    <input id="txtEmail" type="text" class="form__input" placeholder="Email">
                    <input id="txtPhone" type="text" class="form__input" placeholder="Phone">
                    <input id="txtTitle" type="text" class="form__input" placeholder="Subject">
                    <textarea id="txtMessage" class="form__textarea" placeholder="Message" rows="5"></textarea>
                    <button id="btnSendFeedback" class="form__btn btn btn--uppercase btn--blue">Send message</button>
                </form>
            </div>
        </div>
    </div>
    <img src="~/client-side/icd/img/team-bg.png" class="contact-bg" alt="">
</section>