﻿<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container d-flex flex-column flex-md-row flex-stack">
        <div class="text-dark order-2 order-md-1">
            <span class="text-gray-400 fw-bold me-1">Created by</span>
            <a href="#" class="text-muted text-hover-primary fw-bold me-2 fs-6">Team IC DeFi</a>
        </div>
        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
            <li class="menu-item">
                <a href="/" target="_blank" class="menu-link px-2">About</a>
            </li>
            <li class="menu-item">
                <a href="/admin/support/index" class="menu-link px-2">Support</a>
            </li>
            <li class="menu-item">
                <a href="/admin/support/index" class="menu-link px-2">FAQ</a>
            </li>
        </ul>
    </div>
</div>