﻿<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <title>IC DeFi</title>
    <meta name="description" content="IC DeFi" />
    <meta name="keywords" content="IC DeFi" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="IC DeFi" />
    <meta property="og:url" content="IC DeFi" />
    <meta property="og:site_name" content="IC DeFi" />
    <link rel="canonical" href="IC DeFi" />
    <link rel="shortcut icon" href="~/client-side/icd/img/ICDLogo1.png" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="~/admin-side/demo1/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/admin-side/demo1/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/admin-side/demo1/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->

    <link href="~/admin-side/style-admin.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Aside-->
            @await Html.PartialAsync("_AsidePartial")
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                @await Html.PartialAsync("_HeaderPartial")
                <!--end::Header-->
                <!--begin::Content-->
                @RenderBody()
                <!--end::Content-->
                <!--begin::Footer-->
                @await Html.PartialAsync("_FooterPartial")
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    @await Html.PartialAsync("_UtilityPartial")    
    <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/admin-side/demo1/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/admin-side/demo1/dist/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    @*<script src="~/admin-side/demo1/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>*@
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    @*<script src="~/admin-side/demo1/dist/assets/js/custom/widgets.js"></script>
        <script src="~/admin-side/demo1/dist/assets/js/custom/apps/chat/chat.js"></script>
        <script src="~/admin-side/demo1/dist/assets/js/custom/modals/create-app.js"></script>
        <script src="~/admin-side/demo1/dist/assets/js/custom/modals/upgrade-plan.js"></script>*@
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->
    <!--mustache-->
    <script src="~/lib/mustache/mustache.js"></script>

    <!--ckeditor-->
    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <!-- twbs-pagination -->
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>

    <script src="~/admin-app/shared/be.js"></script>

    <script src="~/admin-app/controllers/meta-mask/index.js"></script>

    @RenderSection("Scripts", required: false)
</body>
<!--end::Body-->
</html>