﻿<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">

<!--begin::Head-->
<head>
    <base href="../../../">
    <title>IC DeFi</title>
    <meta name="description" content="IC DeFi" />
    <meta name="keywords" content="IC DeFi" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="IC DeFi" />
    <meta property="og:url" content="IC DeFi" />
    <meta property="og:site_name" content="IC DeFi" />
    <link rel="canonical" href="IC DeFi" />
    <link rel="icon" href="~/client-side/icd/img/ICDLogo1.png">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/admin-side/demo1/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/admin-side/demo1/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    @RenderSection("Styles", required: false)
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-dark">
        <!--begin::Main-->
        @RenderBody()
        <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/admin-side/demo1/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/admin-side/demo1/dist/assets/js/scripts.bundle.js"></script>
    <!--end::Javascript-->

    <script src="~/admin-app/shared/be.js"></script>

    @RenderSection("Scripts", required: false)
</body>
<!--end::Body-->

</html>