﻿@model WalletViewModel
@using BeCoreApp.Utilities.Constants
@{
    ViewBag.Title = "Crash Game";
}

@section Styles{

}

@section Scripts{

    <script src="~/admin-app/controllers/game/ConfigCrashGame.js"></script>
}

<div id="appCrashGame" class="container" ">

    <!--begin::Row-->
    <div class="row g-5 g-xxl-11">
        <!--begin::Col-->
        <div class="col-xl-11">
            <!--begin::Feeds Widget 1-->
            <div class="card mb-5 mb-xxl-11">


                <div class="card-header">
                    <h3 class="card-title">Configs</h3>
                    <div class="card-toolbar">
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#kt_modal_Add_Configs">
                            <i style="color:goldenrod;" class="bi bi-plus"></i> Add configs
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table table-row-dashed table-row-gray-300 gy-7">
                        <thead>
                            <tr class="fw-bolder fs-6 text-gray-800">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Description</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="font-weight:600;">set result</td>
                                <td>
                                    54.21343
                                </td>
                                <td>
                                    Admin set result game
                                </td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_Edit_Configs">
                                        <i style="color:goldenrod;" class="bi bi-pencil"></i>
                                    </a>  /
                                    <a href="#">
                                        <i style="color:red;" class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <!--end::Feeds Widget 1-->
            </div>
            <!--end::Col-->

        </div>
        <!--end::Row-->
        <!--begin::Modals-->
        <!--begin::Modal - Add configs-->
        <div class="modal fade" tabindex="-1" id="kt_modal_Add_Configs">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add configs</h5>
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <span class="svg-icon svg-icon-2x"></span>
                        </div>
                        <!--end::Close-->
                    </div>

                    <div class="modal-body">
                        <table class="table table-row-dashed table-row-gray-300 gy-7">
                            <tbody>
                                <tr>
                                    <td style="font-weight:500">Id</td>
                                    <td> <input class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">Name</td>
                                    <td> <input class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">Value</td>
                                    <td> <input class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">Description</td>
                                    <td> <textarea class="form-control"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal - Add configs-->
        <!--begin::Modal - Edit configs-->
        <div class="modal fade" tabindex="-1" id="kt_modal_Edit_Configs">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit configs</h5>
                        <!--begin::Close-->
                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                            <span class="svg-icon svg-icon-2x"></span>
                        </div>
                        <!--end::Close-->
                    </div>

                    <div class="modal-body">
                        <table class="table table-row-dashed table-row-gray-300 gy-7">
                            <tbody>
                                <tr>
                                    <td style="font-weight:500">Id</td>
                                    <td> <input class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">Name</td>
                                    <td> <input class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">Value</td>
                                    <td> <input class="form-control" type="text" /></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:500">Description</td>
                                    <td> <textarea class="form-control"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal - Edit configs-->
        <!--end::Modals-->
    </div>
