﻿<header class="header">
    <a href="/" class="logo">
        <div class="logo__img"></div>
    </a>

    <ul class="menu">
        <li class="menu__item">
            <a href="#about" class="menu__link">About</a>
        </li>
        <li class="menu__item">
            <a href="#map" class="menu__link">Road Map</a>
        </li>
        <li class="menu__item">
            <a href="#token" class="menu__link">Token</a>
        </li>
        <li class="menu__item">
            <a href="#docs" class="menu__link">Advantages</a>
        </li>
        <li class="menu__item">
            <a href="~/whitepaper/ICDeFi-whitepaper.pdf" target="_blank" class="menu__link">Whitepaper</a>
        </li>
        <li class="menu__item">
            <a href="~/audit/Cybersecurity_Audit_CTDSEC_IC DEFI.pdf" target="_blank" class="menu__link">Audit</a>
        </li>
        <li class="menu__item">
            <a href="#contact" class="menu__link">Contact</a>
        </li>
    </ul>

    <div class="header__right">
        <div class="sign-in-wrap">
            <a href="/login" class="btn-sign-in btn--orange">Login | Register</a>
        </div>
    </div>

    <div class="btn-menu">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
    </div>
</header>
<div class="fixed-menu">
    <div class="fixed-menu__header">
        <a href="/" class="logo">
            <div class="logo__img"></div>
        </a>

        <div class="btn-close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 47.971 47.971" style="enable-background:new 0 0 47.971 47.971;" xml:space="preserve" width="512px" height="512px">
            <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88   c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242   C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879   s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" fill="#006DF0" /></svg>
        </div>
    </div>

    <div class="fixed-menu__content">

        <ul class="mob-menu">
            <li class="mob-menu__item">
                <a href="#about" class="mob-menu__link">About</a>
            </li>
            <li class="mob-menu__item">
                <a href="#map" class="mob-menu__link">Road Map</a>
            </li>
            <li class="mob-menu__item">
                <a href="#token" class="mob-menu__link">Token</a>
            </li>
            <li class="mob-menu__item">
                <a href="#docs" class="mob-menu__link">Advantages</a>
            </li>
            <li class="mob-menu__item">
                <a href="~/whitepaper/ICDeFi-whitepaper.pdf" target="_blank" class="menu__link">Whitepaper</a>
            </li>
            <li class="mob-menu__item">
                <a href="https://github.com/JorgeRodriguezsec/CTDsec/blob/main/Audits/Cybersecurity_Audit_CTDSEC_IC%20DEFI.pdf" target="_blank" class="menu__link">Audit</a>
            </li>
            <li class="mob-menu__item">
                <a href="#contact" class="mob-menu__link">Contact</a>
            </li>
        </ul>

        <div class="btn-wrap">
            <a href="/login" class="btn-sign-in">Login | Register</a>
        </div>
    </div>
</div>