﻿<!DOCTYPE html>
<html lang="ru">

<head>
    <title>@ViewBag.Title</title>
    <meta name="theme-color" content="#000">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="title" content="@ViewBag.Title">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="description" content="@ViewBag.Description">

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" charset="utf-8" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="@ViewBag.Url">
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:image" content="https://icdefi.org/@ViewBag.Image">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@ViewBag.Url">
    <meta property="twitter:title" content="@ViewBag.Title">
    <meta property="twitter:description" content="@ViewBag.Description">
    <meta property="twitter:image" content="https://icdefi.org/@ViewBag.Image">

    <link rel="icon" href="~/client-side/icd/img/ICDLogo1.png">

    <link rel="stylesheet" href="~/client-side/icd/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/client-side/icd/css/main.min.css">

    <link href="/admin-side/dashlot-admin/HTML/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet">
    <link href="/admin-side/dashlot-admin/HTML/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet">

    @RenderSection("Styles", required: false)

    <!-- Load google font
    ================================================== -->
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Catamaran:300,400,600,700', 'Raleway:100,700', 'Roboto:700,900'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = '/client-side/icd/js/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

    </script>

    <!-- Load other scripts
    ================================================== -->
    <script type="text/javascript">
        var _html = document.documentElement;
        _html.className = _html.className.replace("no-js", "js");
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K32TGHX');</script>
    <!-- End Google Tag Manager -->

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "Website",
        "name": "IC DeFi | ICD Token - Automatic Decentralized Financial Transactions",
        "url": "https://icdefi.org/",
        "potentialAction": {
        "@@type": "SearchAction",
        "target": "https://icdefi.org/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
        }
        }
    </script>


    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "FAQPage",
        "mainEntity": [{
        "@@type": "Question",
        "name": "What is an ICD Token?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "ICD Token – The powerful NFT platform coin is a top priority for the development of global artificial intelligence in decentralized financial trading operating on the Ethereum Blockchain network (BEP-20).
        "
        }
        },{
        "@@type": "Question",
        "name": "How Does the ICD Token Work?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "NFT ICD Token ecosystem is relegating the underlying infrastructure of the NFT DeFi platform to advanced algorithms powered by advanced smart contracts"
        }
        },{
        "@@type": "Question",
        "name": "What Is the IC AI Bot?",
        "acceptedAnswer": {
        "@@type": "Answer",
        "text": "The IC AI Bot is a groundbreaking artificial intelligence system designed specifically with the goal of making traders maximally enhance and keep the profits of financial exchanges"
        }
        }]
        }
    </script>

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "Project",
        "name": "The NFT ICD Token ecosystem",
        "alternateName": "ICD DeFi Token",
        "url": "https://icdefi.org/",
        "logo": "https://icdefi.org/client-side/icd/img/ICDlogo3.png",
        "sameAs": [
        "https://www.facebook.com/icdefi.org",
        "hhttps://twitter.com/ic_defi",
        "https://www.instagram.com/ic_defi/",
        "https://www.youtube.com/channel/UCHefl6x6Dc3hEiIRwPH-oXQ",
        "https://www.linkedin.com/company/icdefi",
        "https://medium.com/@@icdefi",
        "https://www.reddit.com/r/ICDeFi_Crypto/",
        ]
        }
    </script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K32TGHX"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="preloader" id="preloader"></div>

    <div class="wrapper">
        @await Html.PartialAsync("_HeaderBlog")

        @RenderBody()

        @await Html.PartialAsync("_Footer")
    </div>

    <script src="~/client-side/icd/js/jquery.min.js"></script>
    <script src="~/client-side/icd/js/jquery-2.2.4.min.js"></script>
    <script src="~/client-side/icd/js/scripts.min.js"></script>

    <!-- Notifications js -->
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/notify/js/rainbow.js"></script>
    <script src="~/admin-side/dashlot-admin/HTML/assets/plugins/notify/js/jquery.growl.js"></script>

    <script src="~/client-app/shared/be.js"></script>

    <script src="~/client-app/controllers/feedback/index.js"></script>
    <script>
        var feedbackObj = new FeedbackController;
        feedbackObj.initialize()
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>