﻿@model string
@{
    Layout = null;
}

<style>
    html, body {
        padding: 0;
        margin: 0;
    }
</style>
<div style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 15px; color: #2F3044; min-height: 100%; margin:0; padding:0; width:100%; background-color:#edf2f7">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;margin:0 auto; padding:0; max-width:600px">
        <tbody>
            <tr>
                <td align="center" valign="center" style="text-align:center; padding: 40px">
                    <a href="https://icdefi.org" rel="noopener" target="_blank">
                        <img src="https://icdefi.org/client-side/icd/img/ICDlogo3.png" style="height: 65px" alt="logo">
                    </a>
                </td>
            </tr>
            <tr>
                <td align="left" valign="center">
                    <div style="text-align:left; margin: 0 20px; padding: 40px; background-color:#ffffff; border-radius: 6px">
                        <div style="padding-bottom: 30px; font-size: 17px;">
                            <strong>Hi!</strong>
                        </div>
                        <div style="padding-bottom: 30px">
                            You are receiving this email because we received a password reset request for your account. 
                            To proceed with the password reset please click on the button below:
                        </div>
                        <div style="padding-bottom: 40px; text-align:center;">
                            <a href="@Model" rel="noopener" style="text-decoration:none;
                                                        display:inline-block;text-align:center;
                                                        padding:0.75575rem 1.3rem;font-size:0.925rem;
                                                        line-height:1.5;border-radius:0.35rem;
                                                        color:#ffffff;background-color:#04C8C8;
                                                        border:0px;margin-right:0.75rem!important;
                                                        font-weight:600!important;outline:none!important;
                                                        vertical-align:middle" target="_blank">
                                Confirm Email
                            </a>
                        </div>
                        <div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div>
                        <div style="padding: 20px; word-wrap: break-all;margin-bottom: 20px;background: #f5f5f5;border-radius: 10px;">
                            <p style="margin-bottom: 10px;">Stay connected:</p>

                            <a href="https://www.facebook.com/icdefi.org" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/facebook.png" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://twitter.com/ic_defi" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/twitter.png" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://www.reddit.com/r/ICDeFi_Crypto/" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/reddit.png" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://medium.com/@@icdefi" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/medium.png" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://t.me/joinchat/4CxzKmewFko0ODll" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/telegram.jpg" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://t.me/icdefi" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/telegram.jpg" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://www.linkedin.com/company/icdefi" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/linkedin.png" style="height: 35px;margin-right:5px">
                            </a>
                            <a href="https://www.youtube.com/channel/UCHefl6x6Dc3hEiIRwPH-oXQ" target="_blank" style="text-decoration:none">
                                <img src="https://icdefi.org/img-icon/youtube.png" style="height: 35px;margin-right:5px">
                            </a>
                        </div>
                        <div style="padding-bottom: 10px">
                            Kind regards,
                            <br>The ICDeFi Team.
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" valign="center" style="font-size: 13px; text-align:center;padding: 20px; color: #6d6e7c;">
                    <p>27 Old Gloucester Street, London, United Kingdom, WC1N 3AX</p>
                    <p>
                        Copyright ©
                        <a href="https://icdefi.org" rel="noopener" target="_blank">ICDeFi</a>.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@*<!DOCTYPE html>
<html lang="en">
<body>
    <div style="padding: 30px 20px 30px 20px;">
        <div style="display:block">
            <div style="text-align:center;">
                <h3 style="font-size: 35px;color: #7cb342;">Complete forgetting your password</h3>
                <div style="color:black; font-size:17px;font-family:Tahoma;margin-bottom:10px">
                    You asked to reset password at
                    <a href="http://icdefi.org" style="font-weight:600; text-decoration: underline;">icdefi.org</a>
                </div>
                <div style="color: #565656;font-size: 14px;font-family:Tahoma;margin-bottom:40px">
                    <strong>To reset your password, please click the following link:</strong>
                </div>
                <div style="color: #565656;font-size: 14px;font-family:Tahoma;margin-bottom:10px">
                    <a href="@Model" style="text-decoration: none;
                                            padding: 15px;border-radius: 25px;padding-right: 25px;padding-left: 25px;
                                            font-size: 17px;color: white;border-bottom: 0px solid #8bc34a;
                                            background: linear-gradient(45deg, #0e8e13, #8bc34a);box-shadow: -1px 1px 3px #8bc34a;">
                        Reset your password
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>*@