﻿@using Microsoft.AspNetCore.Authorization
@using BeCoreApp.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewBag.Title = "Statement All User";
}

@section Scripts{
    <script src="~/admin-app/controllers/user/statementalluser.js" asp-append-version="true"></script>
    <script>
        var statementAllUserObj = new StatementAllUserController();
        statementAllUserObj.initialize();
    </script>
}

@section Styles{
    <link href="~/admin-app/controllers/user/statementalluser.css" rel="stylesheet" asp-append-version="true" />
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container" id="kt_content_container">
        <div class="d-flex flex-wrap flex-stack pb-7">
            <div class="d-flex flex-wrap align-items-center my-1">
                <div class="d-flex align-items-center position-relative my-1">
                    <span class="svg-icon svg-icon-3 position-absolute ms-3">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                            </g>
                        </svg>
                    </span>
                    <input type="text" id="txt-search-keyword" class="form-control form-control-white form-control-sm w-150px ps-9" placeholder="Search">
                </div>
            </div>
            <div class="d-flex flex-wrap my-1">
                <div class="d-flex my-0">
                    <select id="ddl-type" class="form-select form-select-solid form-select-sm w-150px me-5">
                        <option value="0" selected>Select All</option>
                        <option value="1">Wallet Lock</option>
                        <option value="2">Wallet Invest</option>
                        <option value="3">Wallet BNB BEP20</option>
                        <option value="4">Wallet BNB Affiliate</option>
                        <option value="5">Wallet ICD Commission</option>
                        <option value="6">Wallet ICD Affiliate</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card mb-5 mb-xl-10">
            <div class="card-body py-3">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                        <thead>
                            <tr class="fw-bolder text-muted">
                                <th class="min-w-150px">Sponsor<br />Email</th>
                                <th class="min-w-100px">Lock<br />Invest</th>
                                <th class="min-w-150px">ICD Affiliate<br />ICD Commission</th>
                                <th class="min-w-150px">BNB BEP20<br />BNB Affiliate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">Members: <span class="text-success" id="totalMember"></span></a>
                                </td>
                                <td>
                                    <a href="#" class="text-danger fw-bolder text-hover-primary d-block fs-7" id="totalLockBalance"></a>
                                    <span class="text-danger fw-bolder text-hover-primary d-block fs-7" id="totalInvestBalance"></span>
                                </td>
                                <td>
                                    <a href="#" class="text-danger fw-bolder text-hover-primary d-block fs-7" id="totalICDAffiliateBalance"></a>
                                    <span class="text-danger fw-bolder text-hover-primary d-block fs-7" id="totalICDCommissionBalance"></span>
                                </td>
                                <td>
                                    <a href="#" class="text-danger fw-bolder text-hover-primary d-block fs-7" id="totalMainBalance"></a>
                                    <span class="text-danger fw-bolder text-hover-primary d-block fs-7" id="totalBNBAffiliateBalance"></span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody id="tbl-content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-6">{{Sponsor}}</a>
            <span class="text-muted fw-bold text-muted d-block fs-7">{{Email}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{LockBalance}}</a>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-7">{{InvestBalance}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{ICDAffiliateBalance}}</a>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-7">{{ICDCommissionBalance}}</span>
        </td>
        <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block fs-7">{{MainBalance}}</a>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-7">{{BNBAffiliateBalance}}</span>
        </td>
    </tr>
</script>

